---
- name: build image and push to docker hub play
  hosts: k8s_host
  tasks:
  - name: remove image
    command: docker rmi jeeseob/my-hello-world
    ignore_errors: true
  - name: build image
    command: docker build -t jeeseob/my-hello-world ~/hello-world
  #- name: docker login
  #  command: docker login -u <ID> -p <PW>
  - name: push image
    command: docker push jeeseob/my-hello-world
